.title {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    h1 {
        font-weight: 500;
        font-size: 36px;
        color: #0C2146;
    }

    &__logo {
        background-color: #2979FF;
        height: 40px;
        width: 40px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;

        p {
            color: white;
            font-size: 36px;
            font-weight: 500;
        }
    }
}

.nav {
    background-color: #FFC970;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

    &__option {
        width: 100px;
        height: 56px;
        text-decoration: none;
        color: #444444;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 15%;
        }

        p {
            position: absolute;
            top: 35%;
            align-self: center;
        }
    }

    &__option-active {
        width: 100px;
        height: 56px;
        text-decoration: none;
        color: #444444;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: #acacac79;
        border-radius: 10px;
        color: blue;

        img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 15%;
        }

        p {
            position: absolute;
            top: 35%;
            align-self: center;
        }
    }
}