<div class="title">
    <div class="title__logo"><p>S</p></div>
    <h1>Shopéame!</h1>
</div>
<div>
    <nav class="nav">
        <a href="" class="nav__option" routerLink="/" routerLinkActive="nav__option-active" [routerLinkActiveOptions]={exact:true}>
            <img src="../../../assets/home.svg" alt="">
            <p>Home</p>
        </a>
        <a href="" class="nav__option" routerLink="/products" routerLinkActive="nav__option-active">
            <img src="../../../assets/products.svg" alt="">
            <p>Prods.</p>
        </a>
        <a href="" class="nav__option" routerLink="/management" routerLinkActive="nav__option-active">
            <img src="../../../assets/management.svg" alt="">
            <p>Gestión</p>
        </a>
    </nav>
</div>
