<div class="footer">
    <div class="footer__top">Siguenos en:</div>
    <div class="footer__middle">
        <a href="">Twitter</a>
        <span> | </span>
        <a href="">Facebook</a>
        <span> | </span>
        <a href="">Instagram</a>
        <span> | </span>
        <a href="">TikTok</a>
    </div>
    <div class="footer__bottom">Copyright Shopéame © 2020</div>
</div>
