.footer {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    font-size: 14px;

    &__top {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &__middle {

        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 600;
        
        a {
            text-decoration: none;
            color: white;
            margin: 0px 15px;
        }
    }

    &__bottom {
        margin-top: 75px;
    }
}