<div class="home">
    <div class="home__box">
        <h1>Bienvenido a Shopéame</h1>
        <h2>¿Qué es Shopéame?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere officiis perspiciatis at harum, repellat enim porro sed quos. Inventore ullam consequatur placeat adipisci iste suscipit illum repudiandae deserunt velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima non tempore qui inventore cum explicabo quaerat, molestias numquam expedita vel ea maiores placeat quia atque et earum amet aliquid nam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatum voluptates quibusdam voluptatem odit dolor quo tenetur, distinctio illo dignissimos architecto et laudantium adipisci repudiandae dolorem hic officiis, libero nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod optio, porro suscipit aut aperiam et praesentium minus illo quo dolorem repudiandae accusamus odit amet dignissimos quia soluta quaerat vitae rerum!</p>
        <h2>¿Para qué puedo usar Shopéame?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere officiis perspiciatis at harum, repellat enim porro sed quos. Inventore ullam consequatur placeat adipisci iste suscipit illum repudiandae deserunt velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima non tempore qui inventore cum explicabo quaerat, molestias numquam expedita vel ea maiores placeat quia atque et earum amet aliquid nam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatum voluptates quibusdam voluptatem odit dolor quo tenetur, distinctio illo dignissimos architecto et laudantium adipisci repudiandae dolorem hic officiis, libero nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod optio, porro suscipit aut aperiam et praesentium minus illo quo dolorem repudiandae accusamus odit amet dignissimos quia soluta quaerat vitae rerum!</p>
        <h2>¿Quiénes hacemos en Shopéame?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ullam quibusdam minima aut tempora placeat nihil non, at doloremque praesentium repellat voluptatem, dicta expedita, deleniti in. Ducimus optio officiis consequuntur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus maxime nemo distinctio eos! Quaerat debitis nihil aut tenetur est. Vitae nam consequatur assumenda ea ab eveniet sequi quia ad? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quisquam facilis corrupti itaque, veritatis natus nihil aliquam, placeat provident, iusto velit mollitia! Incidunt soluta, tempore doloribus aliquid quam vitae iusto?</p>
        <h2>¿Es seguro usar Shopéame?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, officia? Pariatur, ipsam eaque. Odio ea ad id in unde modi exercitationem mollitia quae? Nesciunt aliquid suscipit asperiores assumenda explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illum laborum distinctio enim voluptas ab debitis architecto temporibus nesciunt quaerat, nam reiciendis excepturi nostrum voluptatem. Debitis consequatur cumque inventore architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure est ullam eligendi dolorem excepturi. Molestiae quibusdam, non officiis fuga praesentium perferendis quidem tempora mollitia, enim doloribus itaque, sit quod ratione! </p>
    </div>
</div>
