.home {
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;

    &__box {
        margin-top: 75px;
        margin-bottom: 75px;
        width: 1200px;
        background-color: white;
        border-radius: 10px;
        padding: 70px 30px;

        h1 {
            display: flex;
            justify-content: center;
            margin-bottom: 75px;
            font-size: 24px;
        }

        h2 {
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }
    }
}