<div class="products-page">
    <div class="products-page__box">
        <div class="products-page__options">
            <h1>Listado de Productos ({{filterLength}})</h1>
            <div>
                <button (click)="listStyle()">≡</button>
                <button (click)="cardStyle()">□</button>
            </div>
            <input type="text" [(ngModel)]="searchValue" (input)="filterProducts()">
        </div>
        <div class="products-page__products">
            <app-card *ngFor="let product of filterArray" [product]="product" [productsStyle]="productsStyle"></app-card>
        </div>
    </div>
</div>
