.products-page {
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;

    &__box {
        margin-top: 75px;
        margin-bottom: 75px;
        width: 1200px;
        background-color: white;
        border-radius: 10px;
        padding: 70px 30px;
    }

    &__options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        input {
            width: 300px;
            height: 20px;
        }

        button {
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }

    &__products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}