<div [ngClass]="{'products': productsStyle, 'products2': !productsStyle}">
    <img src={{product.image}} alt="">
    <h3>{{product.description}}</h3>
    <h1>$ {{product.price}}</h1>
    <p>{{product.name}}</p>
    <span class="button">
        <p>★ {{product.stars}}</p>
        <button>Editar</button>
    </span>
</div>
