.products {
        width: 258px;
        height: 472px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        margin: 0 10px;

        img {
            width: 227px;
            height: 224px;
            align-self: center;
        }

        h3 {
            font-size: 16px;
            color: #19191D;
            font-weight: 400;
            min-height: 50px;
        }

        h1 {
            font-size: 24px;
            margin-top: 2px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            margin-top: 2px;
            color: #787885;
        }
}

.products2 {

        height: 230px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 227px;
            height: 224px;
            align-self: center;
        }

        h3 {
            font-size: 16px;
            color: #19191D;
            font-weight: 400;
            margin-right: 40px;
            max-width: 200px;
            margin-left: 20px;
        }

        h1 {
            font-size: 24px;
            margin-right: 25px;
        }

        p {
            font-size: 30px;
            font-weight: 400;
            color: #787885;
            margin-right: 30px;
        }
}

.button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        margin-right: 70px;
    }

    button {
        border: 1px solid #2264D1;
        color: #2264D1;
        margin-left: 50px;
        border-radius: 4px;
        width: 88px;
        height: 35px;
    }
}