.management {

    background-color: #CCCCCC;
    display: flex;
    justify-content: center;

    &__box {
        margin-top: 75px;
        margin-bottom: 75px;
        width: 1200px;
        background-color: white;
        border-radius: 10px;
        padding-left: 30px;
        padding-bottom: 75px;
    }

    &__form {

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;

        form {

            display: flex;
            flex-direction: column;
            font-size: 14px;

            label {
                margin-bottom:10px;
            }

            input {
                width: 400px;
                margin-bottom: 30px;
                height: 20px;
            }

            button {
                background-color: #F89F21;
                color: white;
                width: 150px;
                height: 32px;
                margin-left: 260px;
                border-radius: 5px;
                border: 1px solid grey;
                
            }
        }
    }

    &__card {
        margin-right: 100px;
    }
}