<div class="management">
    <div class="management__box">
        <h1>Creación de productos</h1>
        <div class="management__form">
            <form [formGroup]="productForm" >
                <label for="name">Nombre del producto:</label>
                <input type="text" formControlName="name" placeholder="Ingrese nombre del producto...">
                <label for="price">Precio:</label>
                <input type="number" formControlName="price" placeholder="Precio del producto...">
                <label for="description">Descripción:</label>
                <input type="text" formControlName="description" placeholder="Descripcion del producto...">
                <label for="img">Ruta de la imagen:</label>
                <input type="text" formControlName="image"/>
                <label for="opinion">Valoracion:</label>
                <input type="number" formControlName="stars" placeholder="Ingrese valoracion de 1 a 5...">
                <button (click)="postProduct()">Guardar</button>
            </form>
            <app-card class="management__card" [product]="productForm.value" [productsStyle]="productStyle"></app-card>
        </div>
    </div>
</div>

