@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

html body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px 0px;
}
